@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&family=Source+Code+Pro:ital,wght@1,800&display=swap');
body {
    margin: 0;
    background-color: brown;
}
.navbar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(236, 128, 128);
}
.navbar-left {
    padding-left: 50px;
}
.logo {
    height:200px;
}
.navbar-Right {
    padding-right: 100px;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.a-element {
    padding: 10px;
    margin:20px;
    font-family: ubuntu;
    font-size:20px;
    font-weight: bold;
    
}
.HOMEPAGE {
    display:flex;
    align-items:center;
    flex-direction: row;
    justify-content: space-between;
    height: 85vh;
}
.home-left {
    width: 50vw;
    text-align: right;
    padding-left:200px;


}
.home-right {
    width :50vw;
    padding-left:100px;
    background-color: blue;
}
.home-h1 {
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
}
.home-p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.services {
    text-align: center;
}
.ser-h1 {
    font-family: 'Source Code Pro', monospace;
    color: blueviolet;
    letter-spacing: 3px;
    font-size: 50px;
    font-style: itallic;
}
.services-sub-cont {
    display: flex;
    flex-direction: row;
}
.services-card {
    border:2px green solid;s
    margin:20px;
    padding: 80px;
    width: 300px;
}
.sc-h1 {
    font-family: 'Source Code Pro', monospace;
    color: blueviolet;
}
.sc-p {
    font-family: 'Source Code Pro', monospace;
    color: blueviolet;
}
.contact {
    text-align: center;
}
.contact-info {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
.social-icon-img {
    height: 50px;
    padding: 20px;


}
.TEST-logo {
    height: 50px;
}